.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background:url('background4.jpg') no-repeat center top #FFF;
  //background:url('background3.jpg') center;

  //background-image:url('background3.jpg');
  height: 400px;
  margin: 0 auto;
  //width: 120%;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: white;
  font-size: 80px;//48px  
  font-family: Impact, Charcoal, sans-serif; 
  //font-family: 'Shift', sans-serif;
  font-weight: bold;
  //position: relative;
}

//.jumbotron h2 {
//  color: white;
//  font-size: 90px;//48px  
//  font-family: Impact, Charcoal, sans-serif;;  
//  //font-family: 'Shift', sans-serif;
//  font-weight: bold;
//}

.jumbotron p {
  font-size: 20px;
  color: white; //#fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}


.neighborhood-guides h3 {
  //font-family: Impact, Charcoal, sans-serif;
  font-family:  ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
